version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - ENV_FILE=.env
    volumes:
      - ./app:/app
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
      -.env 
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: